.firstView{
    width: 85%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    position: relative;
}
.firstViewTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    width: 50%;
}
.firstViewTitle > p{
    font-size: 32px;
    font-family: 'Noto Sans JP', sans-serif;
}
h1 img{
    width: 486px;
    height: 132px;
}
.Store{
    width: 60px;
    display: flex;
    align-items: center;
    gap: 62px;
    margin-left: 40px;
}

.triangleBox{
    height: 95vh;
    display: flex;
    align-items: end;
}
.triangle{
    width: 24px;
    height: 24px;
    border-top: 3px #E5B65A solid;
    border-right: 3px #E5B65A solid;
    transform: rotate(135deg);
}

.smartphone{
    width: 40%;
    display: flex;
    align-items: center; 
    gap: 100px;
    position: relative;
    margin: 0 auto;
}




/* スマホの真ん中部分 */
.smartphone2{
    position: absolute;
    top: 25%;
    left: 35%;
}




.smartphone2::before{
    content: "";
    position: absolute;
    width: 69px;
    height: 120px;
    top: -120px;
    left: 80px;
    background-image: url(../img/camera.svg);
}


/* 丸の編集（右から１） */
.circle1{
    position: absolute;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    background-color: #FAF1E0;
    mix-blend-mode: multiply;
    top: 15%;
    left: -3%;
}
.circle2{
    position: absolute;
    width: 228px;
    height: 228px;
    border-radius: 50%;
    background-color: #FAF1E0;
    mix-blend-mode: multiply;
    top: 50%;
}
.circle3{
    position: absolute;
    width: 269px;
    height: 269px;
    border-radius: 50%;
    background-color: #FAF1E0;
    mix-blend-mode: multiply;
    top: 24%;
    left: 8%;
}
.circle4{
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #FAF1E0;
    mix-blend-mode: multiply;
    top: 45%;
    left: 24%;
}
.circle5{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #FAF1E0;
    mix-blend-mode: multiply;
    top: 15%;
    left: 25%;
}
.circle6{
    position: absolute;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background-color: #FAF1E0;
    mix-blend-mode: multiply;
    top: 63%;
    left: 40%;
}
.circle7{
    position: absolute;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background-color: #FAF1E0;
    mix-blend-mode: multiply;
    top: 60%;
    left: 43%;
}



.concept{
    width: 100%;
    height: 100vh;
    margin-top: 150px;
}
.road1{
    display: flex;
    justify-content: end;
}
h2{
    font-size: 32px;
    text-align: center;
}
h2 span{
    font-size: 42px;
}
.concept > p{
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    margin: 63px;
    font-weight: bold;
    position: relative;
}
.road2{
    position: relative;
}
.road2::before{
    content: "";
    position: absolute;
    width: 192px;
    height: 261px;
    top: -100%;
    left: 10%;
    background-image: url(../img/trip.svg);
}
.concept > p::after{
    content: "";
    position: absolute;
    width: 123px;
    height: 207px;
    background-image: url(../img/smartphone.svg);
    top: 0;
    right: 10%;
}

.FEATURES{
    width: 100%;
    margin-top: 200px;
}
.FEATUREStitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.FEATUREStitle h3{
    font-size: 32px;
    line-height: 252px;
    position: relative;
}
.FEATUREStitle h3::before{
    content: "";
    position: absolute;
    width: 75px;
    height: 3px;
    background-color: #DEA231;
    left: 30%;
    top: 60%;
}
.nothing{
    width: 260px;
    height: 252px;
}



.SearchFunction{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.SearchFunction > div{
    width: 40%;
}
.Search{
    margin-left: 10%;
}
.point1{
    display: flex;
    gap: 40px;
}
.point1 h4{
    font-size: 28px;
    line-height: 50px;
}
.SearchFunction > div > p{
    font-size: 18px;
    line-height: 40px;
    margin-top: 90px;
}
.square{
    width: 600px;
    height: 397px;
    background-color: #FAF1E0;
    position: relative;
    border-radius: 15px 0 0 15px;
}
.square::before{
    content: "";
    position: absolute;
    width: 264px;
    height: 557px;
    top: -85px;
    left: 140px;
    background-image: url(../img/search.svg);
}
.road4{
    margin: 0 auto;
    width: 270px;
    height: 250px;
    position: relative;
}
.road4::before{
    content: "";
    position: absolute;
    width: 124px;
    height: 217px;
    background-image: url(../img/blue.svg);
    left: -80%;
    bottom: 0;
}




.share{
    width: 100%;
    height: 100vh;
    background-color: #FAF1E0;
}
.shareBox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareBox > div{
    width: 40%;
}
.whiteSquare{
    width: 600px;
    height: 397px;
    background-color: #fff;
    position: relative;
    border-radius: 0 15px 15px 0;
}
.whiteSquare::after{
    content: "";
    position: absolute;
    width: 264px;
    height: 557px;
    background-image: url(../img/FEATURESshare.svg);
    top: -20%;
    left: 25%;
}
.shareWrap{
    margin-right: 10%;
}
.point2{
    display: flex;
    gap: 40px;
}
.point2 h4{
    font-size: 28px;
    line-height: 50px;
}
.shareBox > div > p{
    font-size: 18px;
    line-height: 50px;
    margin-top: 120px;
}


.road5{
    display: flex;
    justify-content: space-around;
}
.road5nothing{
    width: 65px;
    height: 208px;
}





.memory{
    margin-left: 10%;
}
.point3{
    display: flex;
    gap: 40px;
}
.point3 h4{
    font-size: 28px;
    line-height: 50px;
}
.square2{
    width: 600px;
    height: 397px;
    background-color: #FAF1E0;
    position: relative;
    border-radius: 15px 0 0 15px;
}
.square2::before{
    content: "";
    position: absolute;
    width: 264px;
    height: 557px;
    top: -85px;
    left: 140px;
    background-image: url(../img/album.svg);
}


.road6{
    margin: 0 auto;
    width: 270px;
    height: 250px;
    position: relative;
}
.road6::before{
    content: "";
    position: absolute;
    width: 129px;
    height: 190px;
    background-image: url(../img/selfie.svg);
    left: -80%;
    bottom: 0;
}



.Movie{
    background-color: #FAF1E0;
    width: 100%;
    padding-bottom: 200px;
}
.Movie h3{
    font-size: 32px;
    line-height: 252px;
    text-align: center;
    position: relative;
}
.Movie h3::before{
    content: "";
    position: absolute;
    width: 75px;
    height: 3px;
    background-color: #DEA231;
    left: 47.5%;
    top: 60%;
}
.video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video video{
    width: 850px;
    height: 500px;
}



footer{
    width: 100%;
    background-color: #FAF1E0;
}
footer img{
    width: 240px;
    height: 65px;
}
.footerMain{
    width: 60%;
    height: 300px;
    margin: 0 auto;
    border-bottom: #DEA231 1px solid;
    text-align: center;
    position: relative;
}
.footerMain::after{
    content: "";
    position: absolute;
    width: 207px;
    height: 245px;
    background-image: url(../img/snowman.svg);
    bottom: 0;
    right: 0;
}
.Store2{
    /* width: 70px; */
    margin: 80px auto 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.app{
    width: 155px;
    height: 53px;
    margin-top: 6px;
}
.footer{
    width: 80%;
    height: 220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer > div{
    display: flex;
    color: #1E76DE;
    margin-top: 30px;
    gap: 30px;
}
.footer > div > div{
    text-align: center;
}
.footer > div > div > img{
    margin-top: 20px;
}
.fimg{
    width: 6em;
}
.fimg img{
    width: 100%;
}